.image-gallery-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url('/public/background-3.jpg');
}

.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery-container> h1 {
    margin: 3rem;
    font-size: 3rem;
    color: #ec6ce4;
}
  