.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    height: 100px;
  }

  .social-media-links a {
    text-decoration: none;
    color: white;
  }
  
  .social-icon {
    font-size: 2rem; 
    margin: 0 1rem; 
  }

  @media ( max-width:415px){
    .social-media-links{
        height: 50px;
        width: 100%;
    
        /* Set the height to match that of the viewport. */
      
    
        /* Set the width to match that of the viewport. */
      
    
        /* Remove any browser-default margins. */
    
      
      
    }

}
