.hours{
    display: flex;
    gap:    1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 0 auto;
    background-color: rgb(251, 251, 251);
}
.day {
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color:rgb(242, 239, 239);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .day:hover {
    background-color: #fdf58c; /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }
