.hours{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 13rem 3rem;
    margin: 0 auto;
    background-color: white;

}
.day {
    padding: 1rem 1rem;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color:#878787;

    width: 15%;
  }

  .day p {
    font-size: 1.5rem;
    color: #ec6ce4;
  }

  .day h1 {
    font-size: 2rem;
    color: #fdf58c ;
  }
  
  .day:hover {
    background-color: #ec6ce4; /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }

  @media ( max-width:821px){
    .day{
        width: 80%;
    
    }
    .hours{
        width: 60%;
    }
}

@media ( max-width:415px){
    .day{
        
        height: 100px;
    
    }
    .day h1{
        font-size: 10px;
       
    }
    .day p{
       font-size: 10px;
    }
    .hours{
        width: 0%;
    }

}
