.services{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 16rem;
    margin: 0 auto;
    background:linear-gradient(0deg, rgba(3, 3, 3, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/background-container.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.service {
    transition: background-color 0.3s;
    cursor: pointer;
    width: 45%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(15, 0, 0, 0.4);
    border-radius: 1rem;
    height: 450px;
  }

  .service-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 15%;
    color: #b25bac;
  }

  .service img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 85%;
  }